---
import Title from "../components/Title.astro";
import Stars from "../components/Stars.astro";

interface Props {
  title: string;
  stars: number;
  description: string;
  href: string;
  image: {
    filename: string;
    alt: string;
  };
}

const { title, stars, description, href, image } = Astro.props;
---

<article class="bg-red-600 text-white">
  {
    image ? (
      <img
        src={image.filename}
        alt={image.alt}
        class="aspect-[4/3] w-full object-cover"
      />
    ) : (
      <div class="aspect-[4/3] bg-gray-300" />
    )
  }
  <div class="p-3 md:p-6">
    <Title text={title} variant="small" element="h3" />
    <Stars rating={stars} />

    <p class="line-clamp-5 text-ellipsis">{description}</p>
  </div>

  <a href={href} title={title} class="focus:outline-none absolute inset-0 z-20">
  </a>
</article>
