---
import Title from "./Title.astro";
import pirateFlag from "../images/pirate_flag_emoji_iphone_2.png";

interface Props {
  label: string;
  image: {
    filename: string;
    alt: string;
  };
  href: string;
  name: string;
  marqee: string;
  class?: string;
}

const { label, name, href, image, marqee, class: className } = Astro.props;
---

<article
  class:list={[
    "relative grid grid-rows-7  items-center justify-center gap-3 isolate aspect-[16/9] overflow-hidden group",
  ]}
>
  {
    image ? (
      <img
        src={pirateFlag.src}
        alt={image.alt}
        class="absolute inset-0 -z-10 object-cover blur-sm size-full"
      />
    ) : (
      <div class="bg-gray-600" />
    )
  }

  <a href={href} title={name} class="focus:outline-none absolute inset-0 z-20"
  ></a>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>

  <div
    class="absolute bottom-0 bg-yellow-400 text-black relative rounded-b-2xl z-10 py-2 px-4 w-full overflow-x-hidden"
  >
    <p
      class="row-start-7 animate-marquee flex gap-4 whitespace-nowrap font-bold text-2xl"
    >
      {marqee}
    </p>
  </div>
</article>
